<?xml version="1.0" encoding="utf-8" ?>
<channels>
  <channel>
    <no>1</no>
    <name>大门第一通道入</name>
    <virtualip>172.21.4.100</virtualip>
    <clientip>192.168.0.8</clientip>
    <padip>172.21.5.25</padip>
    <face>172.21.5.190</face>
    <camera>172.21.5.152</camera>
    <holdopen>0</holdopen>
    <!--入、出类型 0:进 1:出-->
    <inouttype>0</inouttype>
  </channel>
  <channel>
    <no>2</no>
    <name>大门第一通道出</name>
    <virtualip>172.21.4.100</virtualip>
    <clientip>192.168.0.8</clientip>
    <padip>172.21.5.25</padip>
    <face>172.21.5.190</face>
    <camera>172.21.5.152</camera>
    <holdopen>0</holdopen>
    <inouttype>1</inouttype>
  </channel>
  <channel>
    <no>3</no>
    <name>3</name>
    <virtualip>172.21.4.100</virtualip>
    <clientip>192.168.2.165</clientip>
    <padip>172.21.5.25</padip>
    <face>172.21.5.190</face>
    <camera>172.21.5.152</camera>
    <holdopen>0</holdopen>
    <inouttype>0</inouttype>
  </channel>
  <channel>
    <no>4</no>
    <name>4</name>
    <virtualip>172.21.4.100</virtualip>
    <clientip>192.168.2.165</clientip>
    <padip>172.21.5.25</padip>
    <face>172.21.5.190</face>
    <camera>172.21.5.152</camera>
    <holdopen>0</holdopen>
    <inouttype>1</inouttype>
  </channel>
  <channel>
    <no>5</no>
    <name>5</name>
    <virtualip>172.21.4.100</virtualip>
    <clientip>192.168.2.165</clientip>
    <padip>172.21.5.25</padip>
    <face>172.21.5.190</face>
    <camera>172.21.5.152</camera>
    <holdopen>0</holdopen>
    <inouttype>0</inouttype>
  </channel>
  <channel>
    <no>6</no>
    <name>6</name>
    <virtualip>172.21.4.100</virtualip>
    <clientip>192.168.2.165</clientip>
    <padip>172.21.5.25</padip>
    <face>172.21.5.190</face>
    <camera>172.21.5.152</camera>
    <holdopen>0</holdopen>
    <inouttype>1</inouttype>
  </channel>
  <channel>
    <no>7</no>
    <name>7</name>
    <virtualip>172.21.4.100</virtualip>
    <clientip>192.168.2.165</clientip>
    <padip>172.21.5.25</padip>
    <face>172.21.5.190</face>
    <camera>172.21.5.152</camera>
    <holdopen>0</holdopen>
    <inouttype>0</inouttype>
  </channel>
  <channel>
    <no>8</no>
    <name>8</name>
    <virtualip>172.21.4.100</virtualip>
    <clientip>192.168.2.165</clientip>
    <padip>172.21.5.25</padip>
    <face>172.21.5.190</face>
    <camera>172.21.5.152</camera>
    <holdopen>0</holdopen>
    <inouttype>1</inouttype>
  </channel>
  <channel>
    <no>9</no>
    <name>9</name>
    <virtualip>172.21.4.100</virtualip>
    <clientip>192.168.2.165</clientip>
    <padip>172.21.5.25</padip>
    <face>172.21.5.190</face>
    <camera>172.21.5.152</camera>
    <holdopen>0</holdopen>
    <inouttype>0</inouttype>
  </channel>
  <channel>
    <no>10</no>
    <name>10</name>
    <virtualip>172.21.4.100</virtualip>
    <clientip>192.168.2.165</clientip>
    <padip>172.21.5.25</padip>
    <face>172.21.5.190</face>
    <camera>172.21.5.152</camera>
    <holdopen>0</holdopen>
    <inouttype>1</inouttype>
  </channel>
  <channel>
    <no>11</no>
    <name>11</name>
    <virtualip>172.21.4.100</virtualip>
    <clientip>192.168.2.165</clientip>
    <padip>172.21.5.25</padip>
    <face>172.21.5.190</face>
    <camera>172.21.5.152</camera>
    <holdopen>0</holdopen>
    <inouttype>0</inouttype>
  </channel>
  <channel>
    <no>12</no>
    <name>12</name>
    <virtualip>172.21.4.100</virtualip>
    <clientip>192.168.2.165</clientip>
    <padip>172.21.5.25</padip>
    <face>172.21.5.190</face>
    <camera>172.21.5.152</camera>
    <holdopen>0</holdopen>
    <inouttype>1</inouttype>
  </channel>
  <channel>
    <no>13</no>
    <name>13</name>
    <virtualip>172.21.4.100</virtualip>
    <clientip>192.168.2.165</clientip>
    <padip>172.21.5.25</padip>
    <face>172.21.5.190</face>
    <camera>172.21.5.152</camera>
    <holdopen>0</holdopen>
    <inouttype>0</inouttype>
  </channel>
  <channel>
    <no>14</no>
    <name>14</name>
    <virtualip>172.21.4.100</virtualip>
    <clientip>192.168.2.165</clientip>
    <padip>172.21.5.25</padip>
    <face>172.21.5.190</face>
    <camera>172.21.5.152</camera>
    <holdopen>0</holdopen>
    <inouttype>1</inouttype>
  </channel>
  <channel>
    <no>15</no>
    <name>15</name>
    <virtualip>172.21.4.100</virtualip>
    <clientip>192.168.2.165</clientip>
    <padip>172.21.5.25</padip>
    <face>172.21.5.190</face>
    <camera>172.21.5.152</camera>
    <holdopen>0</holdopen>
    <inouttype>0</inouttype>
  </channel>
  <channel>
    <no>16</no>
    <name>16</name>
    <virtualip>172.21.4.100</virtualip>
    <clientip>192.168.2.165</clientip>
    <padip>172.21.5.25</padip>
    <face>172.21.5.190</face>
    <camera>172.21.5.152</camera>
    <holdopen>0</holdopen>
    <inouttype>1</inouttype>
  </channel>
  <channel>
    <no>17</no>
    <name>17</name>
    <virtualip>172.21.4.100</virtualip>
    <clientip>192.168.2.165</clientip>
    <padip>172.21.5.25</padip>
    <face>172.21.5.190</face>
    <camera>172.21.5.152</camera>
    <holdopen>0</holdopen>
    <inouttype>0</inouttype>
  </channel>
  <channel>
    <no>18</no>
    <name>18</name>
    <virtualip>172.21.4.100</virtualip>
    <clientip>192.168.2.165</clientip>
    <padip>172.21.5.25</padip>
    <face>172.21.5.190</face>
    <camera>172.21.5.152</camera>
    <holdopen>0</holdopen>
    <inouttype>1</inouttype>
  </channel>
  <channel>
    <no>19</no>
    <name>19</name>
    <virtualip>172.21.4.100</virtualip>
    <clientip>192.168.2.165</clientip>
    <padip>172.21.5.25</padip>
    <face>172.21.5.190</face>
    <camera>172.21.5.152</camera>
    <holdopen>0</holdopen>
    <inouttype>0</inouttype>
  </channel>
  <channel>
    <no>20</no>
    <name>20</name>
    <virtualip>172.21.4.100</virtualip>
    <clientip>192.168.2.165</clientip>
    <padip>172.21.5.25</padip>
    <face>172.21.5.190</face>
    <camera>172.21.5.152</camera>
    <holdopen>0</holdopen>
    <inouttype>1</inouttype>
  </channel>
  <channel>
    <no>21</no>
    <name>21</name>
    <virtualip>172.21.4.100</virtualip>
    <clientip>192.168.2.165</clientip>
    <padip>172.21.5.25</padip>
    <face>172.21.5.190</face>
    <camera>172.21.5.152</camera>
    <holdopen>0</holdopen>
    <inouttype>0</inouttype>
  </channel>
  <channel>
    <no>22</no>
    <name>22</name>
    <virtualip>172.21.4.100</virtualip>
    <clientip>192.168.2.165</clientip>
    <padip>172.21.5.25</padip>
    <face>172.21.5.190</face>
    <camera>172.21.5.152</camera>
    <holdopen>0</holdopen>
    <inouttype>1</inouttype>
  </channel>
  <channel>
    <no>23</no>
    <name>23</name>
    <virtualip>172.21.4.100</virtualip>
    <clientip>192.168.2.165</clientip>
    <padip>172.21.5.25</padip>
    <face>172.21.5.190</face>
    <camera>172.21.5.152</camera>
    <holdopen>0</holdopen>
    <inouttype>0</inouttype>
  </channel>
  <channel>
    <no>24</no>
    <name>24</name>
    <virtualip>172.21.4.111</virtualip>
    <clientip>192.168.2.165</clientip>
    <padip>172.21.5.48</padip>
    <face>172.21.5.197</face>
    <camera>172.21.5.173</camera>
    <holdopen>0</holdopen>
    <inouttype>1</inouttype>
  </channel>
</channels>