<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="auto" value="0"/>
    <!--票务-->
    <add key="pwserver" value="http://220.197.187.4:8000/HarewareService/gatecheck.ashx"/>
    <!--人脸服务器-->
    <add key="faceserver" value="192.168.3.54"/>
    <add key="paddelay" value="5"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>