<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="auto" value="1" />
    <add key="pwserver" value="http://172.21.0.15:8734/GateCheck.ashx" />
    <add key="faceserver" value="172.21.5.50" />
    <add key="paddelay" value="5" />
    <add key="localIp" value="172.21.5.200" />
    <add key="interval" value="30" />
    <add key="account" value="THT@megvii.com" />
    <add key="pwd" value="admin123456" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>